body{
    margin: 0;
    padding: 0;
    background-color: white;
}

.menuBar{
    height: 60px;
    background-color: crimson;
    display: flex;
    position: sticky;
    top: 0;
}
.menuBar img{
    width: 50px;
    height:40px;
    margin:10px 20px 10px 30px;
    cursor: pointer;
}
.menuBar h3{
    font-size: 20px;
    color: white;
    margin: 15px 50px 10px 10px;
}
.menuBar nav{
    line-height: 60px;
}
.menuBar a{
    text-decoration: none;
    font-weight: 700;
    color: white;
    margin:20px 0px;
    padding: 19px 50px;
}
nav a:hover{
    /* background-image: linear-gradient(45deg,  rgb(153, 184, 245),  rgb(26, 101, 250)); */
    background-color: white;
    color: crimson;
}
.container{
    display: flex;
    height: 3250px;
}
.people-container{
    width: 38.5%;
    padding: 0 30px;
    background-color: rgb(252, 236, 239);
}
.people-container .text{
    color: crimson;
    text-align: center;
    cursor: pointer;
}
.people-container hr{
    width: 100%;
    height: 2px;
    background-color:  crimson;
    border: none;
}
.friend-container{
    width: 38.5%;
    padding: 0 30px;
    background-color: rgb(252, 236, 239);
    border-right: 2px solid rgb(247, 181, 194)
}
.friend-container .text{
    color: crimson;
    text-align: center;
    cursor: pointer;
}
.friend-container hr{
    width: 100%;
    height: 2px;
    background-color:  crimson;
    border: none;
}
.side-container{
    width: 15%;
}
.side-container .side-text{
    color: crimson;
    right: 0;
    margin: 39px 0px 5px 10px;
    font-size: 20px;
    cursor: pointer;
}
.side-container h3{
    font-size: 15px;
    cursor: pointer;
    margin-left: 10px;
}
.side-container h3:hover{
    color: crimson;
}
.side-container hr{
    width: 100%;
    height: 1.5px;
    background-color:  crimson;
    border: none;
}
#fixedButton {
    position: fixed;
    width: 228px;
    height: 40px;
    bottom: 0px;
    right: 0px; 
    color: white;
    font-size: 12px;
    background-color: crimson;
    border: 1px solid rgb(228, 7, 51);
    cursor: pointer;
}
#fixedButton:focus{
    outline: none;
}
#fixedButton:hover{
    font-size: 13px;
}
.settingIcon{
    margin-left: 100px;
}
.barIcon{
    font-size: 25px;
    color: white;
    margin-left: 50px;
    cursor: pointer;
}
